/* dc-primitives - Default */
:root {
    /* Colors*/
    --dc-figmas-100-: #C7C7C7FF;
    --dc-figmas-200-: #D6D6D6FF;
    --dc-figmas-300-: #E4E4E4FF;
    --dc-figmas-400-: #F2F2F2FF;
    --dc-blue-gray-100-: #F5FAFCFF;
    --dc-sky-blue-100-: #EFFBFCFF;
    --dc-accent-blue-: #0D2FE7FF;
    --dc-accent-blue-bg-: #F3F4FEFF;
    --dc-gray-100-: #F5F5F5FF;
    --dc-gray-200-: #F0F0F0FF;
    --dc-gray-300-: #E3E3E3FF;
    --dc-gray-400-: #AEAFB5FF;
    --dc-gray-500-: #787C87FF;
    --dc-gray-600-: #50535AFF;
    --dc-accent-red-: #D50001FF;
    --dc-accent-red-bg-: #FEF7F7FF;
    --dc-accent-green-1-: #4BD9A0FF;
    --dc-accent-green-1-bg-: #F6FDFAFF;
    --dc-accent-purple-: #5625B3FF;
    --dc-accent-purple-bg-: #F6F4FBFF;
    --dc-accent-sky-blue-: #4285F4FF;
    --dc-accent-sky-blue-bg-: #F5F9FEFF;
    --dc-accent-orange-: #F06D02FF;
    --dc-accent-orange-bg-: #FEF7F2FF;
    --dc-accent-orange-text-: #C9461BFF;
    --dc-accent-mustard-: #CFCE22FF;
    --dc-accent-mustard-bg-: #FCFCF4FF;
    --dc-accent-yellow-: #F6BF26FF;
    --dc-accent-yellow-bg-: #FEFCF4FF;
    --dc-accent-green-2-: #31C15AFF;
    --dc-accent-green-2-bg-: #F4FCF6FF;
    --dc-accent-pink-: #FF00FBFF;
    --dc-accent-pink-bg-: #FFF2FFFF;
    --dc-sky-blue-200-: #61D6E6FF;
    --dc-sky-blue-300-: #4CB0C2FF;
    --dc-sky-blue-400-: #008BA1FF;
    --dc-sky-blue-500-: #006A7AFF;
    --dc-sky-blue-600-: #004954FF;
    --dc-blue-gray-200-: #F1F9FCFF;
    --dc-blue-gray-300-: #D7E7EEFF;
    --dc-blue-gray-400-: #BDD6E0FF;
    --dc-blue-gray-500-: #A1BDC8FF;
    --dc-blue-gray-600-: #6C838BFF;
    --dc-blue-gray-700-: #67818DFF;
    --dc-blue-gray-800-: #355063FF;
    --dc-blue-gray-900-: #253845FF;
    --dc-hover-table-: #EFF5F8FF;
    --dc-hover-tab-: #DFECF1FF;
    --dc-hover-sky-blue-: #56BFDAFF;
    --dc-transparent-1-: #61D6E64D;
    --dc-gradient-1-: #61D6E6FF;
    --dc-gradient-2-: #0880D7FF;
    --dc-white-: #FFFFFFFF;
    --dc-error-100-: #FCF4F4FF;
    --dc-error-200-: #FAE6E6FF;
    --dc-error-300-: #F7D1D1FF;
    --dc-error-400-: #F0B1B1FF;
    --dc-error-500-: #E68383FF;
    --dc-error-600-: #D85A5AFF;
    --dc-error-700-: #C43E3EFF;
    --dc-error-800-: #A43131FF;
    --dc-error-900-: #882C2CFF;
    --dc-success-100-: #ECFDF4FF;
    --dc-success-200-: #D1FAE2FF;
    --dc-success-300-: #A6F4CAFF;
    --dc-success-400-: #6DE8ADFF;
    --dc-success-500-: #32D58CFF;
    --dc-success-600-: #04AA69FF;
    --dc-success-700-: #03794DFF;
    --dc-success-800-: #05603FFF;
    --dc-success-900-: #054F35FF;
    --dc-alert-100-: #FEFBE8FF;
    --dc-alert-200-: #FDF7C4FF;
    --dc-alert-300-: #FDEC8BFF;
    --dc-alert-400-: #FBDA49FF;
    --dc-alert-500-: #F7C518FF;
    --dc-alert-600-: #D68E07FF;
    --dc-alert-700-: #9F5E09FF;
    --dc-alert-800-: #834A10FF;
    --dc-alert-900-: #703D13FF;
    --dc-blue-100-: #EFF6FFFF;
    --dc-blue-200-: #DBEAFEFF;
    --dc-blue-300-: #C0DBFDFF;
    --dc-blue-400-: #94C5FCFF;
    --dc-blue-500-: #62A5F8FF;
    --dc-blue-600-: #4285F4FF;
    --dc-blue-700-: #2763E9FF;
    --dc-blue-800-: #1F4ED6FF;
    --dc-blue-900-: #2041ADFF;
    --dc-lime-100-: #F8FBEBFF;
    --dc-lime-200-: #F0F7CAFF;
    --dc-lime-300-: #E7F197FF;
    --dc-lime-400-: #DDE85CFF;
    --dc-lime-500-: #DAE02FFF;
    --dc-lime-600-: #C0CA33FF;
    --dc-lime-700-: #879020FF;
    --dc-lime-800-: #666E1DFF;
    --dc-lime-900-: #52581CFF;
    --dc-purple-100-: #F4F3FFFF;
    --dc-purple-200-: #ECEAFDFF;
    --dc-purple-300-: #DCD7FDFF;
    --dc-purple-400-: #C2B7FBFF;
    --dc-purple-500-: #A38EF7FF;
    --dc-purple-600-: #8760F2FF;
    --dc-purple-700-: #763FE8FF;
    --dc-purple-800-: #672DD4FF;
    --dc-purple-900-: #5625B3FF;
    --dc-unique-10-: #AD1457FF;
    --dc-unique-20-: #D91C61FF;
    --dc-unique-30-: #D50000FF;
    --dc-unique-40-: #E77D73FF;
    --dc-unique-50-: #F4511EFF;
    --dc-unique-60-: #F06D02FF;
    --dc-unique-70-: #F19402FF;
    --dc-unique-80-: #F7C027FF;
    --dc-unique-90-: #E4C441FF;
    --dc-unique-100-: #C0CA33FF;
    --dc-unique-110-: #7CB342FF;
    --dc-unique-120-: #35B67AFF;
    --dc-unique-130-: #0B8043FF;
    --dc-unique-140-: #029789FF;
    --dc-unique-150-: #049CE6FF;
    --dc-unique-160-: #4386F4FF;
    --dc-unique-170-: #3F51B5FF;
    --dc-unique-180-: #7986CBFF;
    --dc-unique-190-: #B49DDBFF;
    --dc-unique-200-: #9E69AFFF;
    --dc-unique-210-: #8E24AAFF;
    --dc-unique-220-: #795548FF;
    --dc-unique-230-: #606162FF;
    --dc-unique-240-: #A89B8EFF;

    /* Variables primitve*/
    --font-family-nunito: Nunito;
    --font-size-dc-90: 90px;
    --font-size-dc-80: 80px;
    --font-size-dc-70: 70px;
    --font-size-dc-64: 64px;
    --font-size-dc-60: 60px;
    --font-size-dc-48: 48px;
    --font-size-dc-46: 46px;
    --font-size-dc-40: 40px;
    --font-size-dc-36: 36px;
    --font-size-dc-32: 32px;
    --font-size-dc-30: 30px;
    --font-size-dc-24: 24px;
    --font-size-dc-20: 20px;
    --font-size-dc-18: 18px;
    --font-size-dc-16: 16px;
    --font-size-dc-14: 14px;
    --font-size-dc-12: 12px;
    --font-size-dc-10: 10px;
    --font-size-dc-9: 9px;
    --font-weight-light: 300px;
    --font-weight-regular: 400px;
    --font-weight-bold: 700px;
    --line-height-tight: 1.25;
    --line-height-snug: 1.375;
    --line-height-normal: 1.5;
    --letter-spacing-none: 0px;
    --letter-spacing-wide: 10px;

    /* Spacing */
    --dc-0-: 0px;
    --dc-2-: 2px;
    --dc-4-: 4px;
    --dc-6-: 6px;
    --dc-8-: 8px;
    --dc-10-: 10px;
    --dc-12-: 12px;
    --dc-14-: 14px;
    --dc-16-: 16px;
    --dc-18-: 18px;
    --dc-20-: 20px;
    --dc-24-: 24px;
    --dc-28-: 28px;
    --dc-32-: 32px;
    --dc-36-: 36px;
    --dc-40-: 40px;
    --dc-42-: 42px;
    --dc-44-: 44px;
    --dc-48-: 48px;
    --dc-52-: 52px;
    --dc-56-: 56px;
    --dc-60-: 60px;
    --dc-64-: 64px;
    --dc-72-: 72px;
    --dc-80-: 80px;

    /* Breakpoints*/
    --var---bp-xs-: 360px;
    --var---bp-sm-: 576px;
    --var---bp-md-: 768px;
    --var---bp-lg-: 992px;
    --var---bp-xl-: 1280px;
    --var---bp-xxl-: 1400px;

    /* Shadow*/
    --dc-shadow-highlight: -6px 6px 10px 0px #61D6E640;
    --dc-shadow-delete:    22px 22px 30px 0px #61D6E633;
    --dc-shadow-down:      0px 4px 6px 0px #61D6E640;
    --dc-shadow-up:        0px -4px 6px 0px #61D6E640;
    --dc-shadow-popup:     0px 4px 4px 0px #2965AB26;
    --dc-shadow-table:     0px 0px 5px 0px #2965AB33;
    --dc-shadow-fix:       4px 0px 6px 0px #61D6E626;
    --dc-shadow-section:   0px 0px 8px 0px #2965AB0D;
    --dc-shadow-dropdown:  0px 0px 10px 0px #61D6E699;

}